footer{
    background-color: var(--back-footer);
    padding: 20px 0 20px 10px;
}

h4{
    font-size: 1.3rem;
    text-align: center;
}

.box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.phone, .mail, .direction, .delivery{
    padding: 5px 0;
}

.phone p, .mail p, .direction p{
    padding: 5px;
    width: 200px;
}

.delivery i{
    color: rgb(97, 255, 97);
    border: 1px solid rgb(97, 255, 97);
    padding: 5px;
    border-radius: 50%;
}



@media (min-width: 840px) {
    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .box-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        max-width: 800px;
    }

    .direction{
        order: 1;
    }

    .phone{
        order: 2;
    }

    .mail{
        order: 3;
    }
}