:root{
    --Courgette: 'Courgette', cursive;
    --Righteous: 'Righteous', cursive;
    --back-navbar: #B447BE;
    --contact-red: #F7E8F6;
    --back-footer: #969696;
    --red-hat : 'Red Hat Display', sans-serif;
}
